div,
li,
i,
strong {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
}

div {
    font-size: medium;
}

.css-rainbow-text {
    background: linear-gradient(to right, violet, indigo, blue, green, orange, red);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}

.rt-2-x {
    font-size: 20px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
}

.img-responsive {
    margin-bottom: 20px;
}
